ul(class='instrument', data-name='guitar')
    li(class='key',data-name='A')

        audio(src='/audio/simplekeyboard/piano_A_short.mp3')
    li(class='key',data-name='B')

        audio(src='/audio/simplekeyboard/piano_B_short.mp3')
    li(class='key',data-name='C')

        audio(src='/audio/simplekeyboard/piano_C_short.mp3')
    li(class='key',data-name='D')

        audio(src='/audio/simplekeyboard/piano_D_short.mp3')
    li(class='key',data-name='E')

        audio(src='/audio/simplekeyboard/piano_E_short.mp3')
    li(class='key',data-name='F')

        audio(src='/audio/simplekeyboard/piano_F_short.mp3')
