ul(class='instrument', data-name='guitar')
    li(class='key',data-name='do')

        audio
    li(class='key',data-name='re')

        audio
    li(class='key',data-name='mi')

        audio
    li(class='key',data-name='fa')

        audio
    li(class='key',data-name='so')

        audio
    li(class='key',data-name='la')

        audio
